*.csv
*.pdf
*.xlsx
*.pptx
*.jpg
*.png
Day 28 - Project 07 Music Rating Recommander/music.tar.gz
Day 27 - Project 06 Census Income Prediction/incomemlops.tar.zip
Day 26 - SageMaker Projects/abalonemlops.tar
Day 26 - SageMaker Projects/abalonemlops.tar.gz
Day 28 - Project 07 Music Rating Recommander/music.txt
Day 27 - Project 06 Census Income Prediction/income.txt
